@model Gissa.Entities.UsuarioRecoverEnt
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout _Login.cshtml";
}

<div class="content-wrapper d-flex align-items-center auth px-0">
    <div class="row w-100 mx-0">
        <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                <div class="brand-logo text-center">
                    <img src="~/template/images/GISSA2.png" alt="logo">
                </div>
                <form asp-action="Change" asp-controller="Login" class="pt-3" onsubmit="return validarFormulario();">
                    <div class="form-group">
                        <label for="Codigo">Código</label>
                        <input type="text" name="Codigo" class="form-control form-control-lg" placeholder="Escriba aquí...">
                        <span class="error-message" id="codigo-error"></span>
                    </div>

                    <div class="form-group mt-3">
                        <label for="PasswordUser">Contraseña</label>
                        <input type="password" name="PasswordUser" id="PasswordUser" class="form-control form-control-lg" placeholder="Escriba aquí...">
                        <span class="error-message text-danger" id="password-error"></span>
                    </div>
                    <div class="form-group mt-3">
                        <label for="ConfirmPassword">Confirmar Contraseña</label>
                        <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control form-control-lg" placeholder="Escriba aquí...">
                        <span class="error-message text-danger" id="confirm-password-error"></span>
                    </div>
                    <input type="hidden" name="Email" value="@ViewBag.Email">
                    <span class="error-message">@ViewBag.MensajePantalla</span>
                    <br />

                    <button type="button" class="btn btn-primary mr-2" onclick="validarFormulario()">Cambiar Contraseña</button>
                </form>

                <div class="new-account mt-3">
                    <p>No tienes una cuenta? <a class="text-primary" href="@Url.Action("RegisterAccount","Login")">Registrate</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<style>
    .error-message {
        color: red;
        font-weight: bold;
    }
</style>
@section scripts {
    <script>
        function validarFormulario() {
            var codigo = document.getElementsByName("Codigo")[0].value;
            var password = document.getElementById("PasswordUser").value;
            var confirmPassword = document.getElementById("ConfirmPassword").value;
            var isValid = true;

            // Resetear los mensajes de error
            resetErrorMessages();

            // Validación de código temporal
            if (!codigo) {
                displayErrorMessage("codigo", "Introduce el código temporal para reestablecer la contraseña.");
                isValid = false;
            }

            // Validación de contraseña (no más de 20 caracteres)
            if (!password || !/^(?=.*[a-zA-Z])(?=.*\d).{6,15}$/.test(password)) {
                displayErrorMessage("password", "La contraseña debe tener entre 6 y 15 caracteres, contener al menos una letra y al menos un número.");
                isValid = false;
            }

            // Validación de coincidencia de contraseña
            if (password !== confirmPassword) {
                displayErrorMessage("confirm-password", "Las contraseñas no coinciden.");
                isValid = false;
            }

           // Enviar formulario solo si es válido
            if (isValid) {
                // Mostrar la alerta de confirmación
                Swal.fire({
                    title: "¿Estás seguro?",
                    text: "¿Quieres cambiar tu contraseña?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Sí, cambiar",
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Envía el formulario usando AJAX
                        $.ajax({
                            url: '/Login/Change',
                            type: 'POST',
                            data: $('form').serialize(),
                            success: function (data) {
                                // Mostrar mensaje de éxito
                                Swal.fire({
                                    title: "¡Contraseña cambiada!",
                                    text: "Tu contraseña ha sido cambiada con éxito.",
                                    icon: "success",
                                    showConfirmButton: false,
                                    timer: 2000
                                });
                                setTimeout(function () {
                                    window.location.href = '/Login/IniciarSesion';
                                }, 2000);
                            },
                            error: function () {
                                // Mostrar mensaje de error si ocurre algún problema
                                Swal.fire({
                                    title: "¡Error!",
                                    text: "Hubo un problema al cambiar la contraseña.",
                                    icon: "error",
                                    showConfirmButton: false,
                                    timer: 2000 // Cierra automáticamente después de 2 segundos
                                });
                            }
                        });
                    }
                });
            }

            return isValid;
        }

        function resetErrorMessages() {
            var errorElements = document.getElementsByClassName("error-message");
            for (var i = 0; i < errorElements.length; i++) {
                errorElements[i].innerText = "";
            }
        }

        function displayErrorMessage(elementId, message) {
            document.getElementById(elementId + "-error").innerText = message;
        }
    </script>
    }
